@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kaushan+Script&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-kaushan: "Kaushan Script", cursive;
  --font-courgette: "Courgette", cursive;
}

/* body { */
/*   font-family: "Inter", sans-serif; */
/*   color: #6a7282; */
/*   background-color: black; */
/* } */

body {
  font-family: "Inter", sans-serif;
  color: #cbd5e1; /* slate-300 */
  background-color: #0f172a; /* slate-900 from Tailwind */
}
.max-container {
  @apply max-w-7xl mx-auto;
}
.banner-container {
  @apply lg:flex flex-row-reverse items-center   justify-center mx-auto gap-8  p-4   rounded-md;
}
.hover-effect {
  @apply hover:shadow-lg hover:border hover:border-amber-500 transition-all duration-200 ease-in-out;
}

.flex-center {
  @apply flex items-center justify-center;
}

.pulse-glow {
  animation: pulse-glow 2s infinite;
  box-shadow: 0 0 20px rgba(59, 130, 246, 0.5);
}

.glow-border {
  @apply border border-indigo-500 rounded-lg shadow-lg;
  box-shadow: 0 0 20px rgba(99, 102, 241, 0.6);
}

/* Add this to your CSS or Tailwind layer */
.glow-text {
  text-shadow:
    0 0 4px #6366f1,
    0 0 8px #6366f1;
}

@keyframes jhilimili {
  0% {
    box-shadow: 0 0 5px #7f5af0;
  }
  50% {
    box-shadow: 0 0 10px #7f5af0;
  }
  100% {
    box-shadow: 0 0 5px #7f5af0;
  }
}

.jhilimili-glow {
  animation: jhilimili 1.5s infinite ease-in-out;
}
